.container2 {
    width: 100%;
    height: 100vh;
    background: #005160;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background: coral;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h3 {
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
    color:#fff;
}

form input, form textarea {
    border: 0;
    margin: 3px 0;
    padding: 13px;
    outline: none;
    background: lightpink;
    font-size: 15px;
}


form button {
    padding: 15px;
    background: #6e1855;
    color: yellowgreen;
    font-size: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 113px;
    margin: 20px auto 0;
    border-radius: 30px;
}

.button-container {
    display: grid;
    place-items: center; /* Center both horizontally and vertically */
}

.linkedin-button {
    display: inline-block;
    background-color: #0ac24a; 
    color: rgb(130, 17, 107); 
    padding: 10px 20px; 
    text-decoration: none; 
    text-align: center;
    width: 100%;
    border-radius: 5px; 
    font-weight: bold; 
    transition: background-color 0.3s; 
}

.linkedin-button:hover {
    background-color: #86086d; 
}