body {
    background-color: rgb(2, 88, 104);
    background-image: url(IMG_5518.jpg);
    background-repeat: no-repeat;
    color:rgb(180, 35, 160);
    font-family: :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: auto;
    display: grid;
    gap: 33px;
    align-items: start;
    padding: 33px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive columns */
}

/* For medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
    }
}

/* For large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        grid-template-columns: repeat(3, 1fr); /* 3 columns */
    }
}

.block {
    border: 1px solid #cccccc;
    box-sizing: border-box;
    padding: 69px;
    background-color: rgb(2, 88, 104)
}

.block p {
    color: lightpink; 
  }

.centered-text{
    text-align: center;
    background-color: coral;
    color:#fff
}

.video-container {
    text-align: right;
    margin-right: 113px;
}

.profile-pic-container {
    width: 369px;
    height: 369px;
    border-radius: 50%; 
    background-image: url('IMG_1345.JPG');
    background-size: cover; 
    background-position: top; 
    background-repeat: no-repeat;
    object-fit: cover; 
    overflow: hidden; 
}

.my-link {
    color: darkblue;
    text-decoration: underline; 
    font-size: 21px;
    font-family: Arial, sans-serif;
}

.my-link:hover {
    color: #1a55bc; 
    text-decoration: underline dotted; 
}

#image {
    width: 100%;
    height: auto;
}

#main-header {
    background-color:coral;
    color:#fff;
}

#main { 
    padding:20px 30px;
    box-sizing: border-box;
    background-color: lightpink;
}

#sidebar {
    background: #333;
    color: #fff;
    padding:10px;
    box-sizing: border-box;
}

#main-footer {
    background: coral;
    color: #fff;
    text-align: center;
    padding:20px;
    margin-top:40px;
}

@media(max-width:600px){
    #main{
        width:100%;
        float:none;
    }

    #sidebar{
        width:100%;
        float:none;
    }
}
